@charset "UTF-8";
:root{
    font-family: Raleway Flex,Raleway-Fallback,sans-serif;
    font-family: Reklame Script,Reklame-Script-Fallback,serif;
}

:root{
    --primary-color: rgba(223, 223, 223, 0.623);

    --background-color: rgba(255, 255, 255, 0.589);

    --nav-bar-color: rgba(17, 17, 17, 0.932);

    --box-color: rgba(102, 100, 100, 0.603);
}

/* reset */
*,
*::after,
*::before {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}


header{
    /*title text */
    font-size: 5vh;
    text-align: left;
    color: aliceblue;
    text-shadow: 1px 1px 20px black;
}

header a{
    text-decoration: none;
    color: aliceblue;
}

nav{
    display: block;

    background-color: var(--nav-bar-color);
    padding: 1%;
    
    padding-right: 9%;
    margin-top: 5%;
    box-sizing: border-box;
}

nav a{
    box-shadow: 3px 1px 0px rgba(0, 0, 0, 0.212);
    padding: 1%;
    margin: 1%;

    
    color: aliceblue;
    text-decoration: none;
}

nav a:hover{
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.603);
    text-decoration: none;
    font-size: 0.9em;

    background-color: rgba(150, 142, 142, 0.623);

    color: white;
}

body{
    background-color: var(--background-color);
    text-align: center;

    padding-left: 8vh;
    padding-right: 8vh;
}
/*------------------------------------------------------------------------------*/

main{
    display: flex;
    flex-wrap: wrap; 

    align-items: center;
    justify-content: center;
}
main h1{
    font-size: 3em;
}
main h2{
    font-size: 2em;
}

div{
    padding: 2% 10% 8% 10%;
/*  padding-top:2%;
    padding-right: 10%;
    padding-bottom: 8%;
    padding-left: 10%;*/
}

section{
    padding: 5%;
}

#d2{
    background-color: rgba(105,160,215,.4);
}



.box{
    background-color: rgba(218, 218, 218, 0.603);

    display: flex;
    flex-direction: column;
    padding: 1vh;
    margin: 1%;

    border-radius: 20px;

    font-size: 1.2em;

    height: 100vhs;
    width: 30%;

    padding-left: 8px;
    padding-top: 40px;
    text-align: center;
}